<div class="header">
    <nav class="navbar navbar-default" role="navigation">
        <ul class="nav nav-tabs horizontal clearfix">
        <li class="nav-item blue-grey-50 text-center floorplan-tab">
            <a href="/home" class="nav-link btn">
        Home</a>
        </li>
        <li class="nav-item blue-grey-50 text-center floorplan-tab">
            <a href="/aboutus" class="nav-link btn">
        About Us</a>
        </li>
        <li class="nav-item blue-grey-50 text-center floorplan-tab">
            <a href="/todo" class="nav-link btn">
        Todo</a>
        </li>
    </nav>
 </div>
