<section class="row">
    <form class="form-group col-sm-12" action="/todo" method="post">
        <div class="form-group col-sm-10  pad-20">
            <div class="pad-20">
                <input type='text' id="title" name="title" class="form-control col-sm-6">
            </div>
            <div class="pad-20">
                <textarea class="form-control col-sm-6 top-10"
                          name="description" ></textarea>
            </div>
        </div>

        <div class="col-sm-2 pad-20 top-30">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </form>
</section>
<section class="panel panel-default">
   <% include ./list %>
</section>
<section>
    <% include ./details %>
</section>
